# Hello World

In [1]:
# This is hello world in Python
print('hello, world\n')

hello, world

In [2]:
print('hello, world')

hello, world

In [5]:
print("hello, world“)

SyntaxError: EOL while scanning string literal (<ipython-input-5-43e9612f56f8>, line 1)

In [6]:
print("hello, world")

hello, world

In [7]:
age = 18
print(age)

18

In [8]:
age = 18.23E-4
print(age)

0.001823

In [9]:
print("What's your name?")

What's your name?

In [4]:
print('What\'s your name?')

What's your name?

## Homework 00 - Hello World
Write your hello world!

# Variable

In [19]:
age0 = 2
print(age0)

2

In [11]:
0age = 2

SyntaxError: invalid syntax (<ipython-input-11-db4b08ae8ff7>, line 1)

In [12]:
_age = 2

In [13]:
myname = 'kenny'
myName = 'jack'
print(myname)
print(myName)

kenny
jack

In [14]:
myname = 'kenny'
myName = 'jack'
    print(myname)
print(myName)

IndentationError: unexpected indent (<ipython-input-14-204c1edce3ea>, line 3)

In [5]:
text = input("Enter text:")
print(text)

Enter text:aaa
aaa

In [ ]:
number = int (input("Enter an integer:"))
print(number)

# Operator and Expression

In [25]:
2+3

5

## Homework 01 - Add
Input two numbers, and print the sum.

In [28]:
num1 = int(input('Enter a number:'))
num2 = int(input('Enter another number:'))
sum = num1 + num2
print(sum)

Enter a number:123
Enter another number:234
357

In [29]:
'a'+'b'

'ab'

In [30]:
-5.2

-5.2

In [31]:
50-24

26

In [32]:
2*3

6

In [7]:
'la'*3

'lalala'

In [34]:
3**4

81

In [35]:
13/4

3.25

In [36]:
13//4

3

In [37]:
13%3

1

In [38]:
25.5%2.25

0.75

In [39]:
-25.5%2.25

1.5

```
&：按位与操作，只有 1 &1 为1，其他情况为0。可用于进位运算。

|：按位或操作，只有 0|0为0，其他情况为1。

~：逐位取反。

^：异或，相同为0，相异为1。可用于加操作（不包括进位项）。

<<：左移操作，2的幂相关

>>：右移操作，2的幂相关
```

In [40]:
2<<2

8

In [41]:
5&3

1

In [42]:
5|3

7

In [45]:
5^3

6

In [44]:
~5

-6

In [8]:
5<3

False

In [47]:
x = 'str'; y='stR'; x==y

False

In [48]:
x = True; not x

False

In [49]:
a = 2; a= a*3; print(a)

6

In [50]:
a = 2; a*= 3; print(a)

6

In [ ]:
l =5; b = 2; print(2*(l+b))

## Homework 02 - Currency Exchange
* How many eruos are you exchanging? 81
* What is the exchange rate? 137.51
* 81 euros at an exchange rate of 137.51 is
* 111.38 U.S. dollars.